#vis {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 10pt;
    position: relative;
    left: 30vw;
    top: -20vh;
    max-width: 70vw;
    max-height: 80vh;
  }

#search-box {
    margin-top: 20vh;
}

#search-form {
    max-width: 50%;
    max-height: 50%
}

body {
    max-width: 90vw;
    max-height: 900vh;
}