#search_img {
    height: 1.2em;
}

#voice_img {
    height: 1.2em;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#title_bar {
    text-align: center;
}

#speech_box {
    z-index: 0;
}

#db_container {
    max-height: 30em;
    overflow-y: scroll;
    overflow-x: hidden;
}